.modifierGroup-elementContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.modifierGroup-elementContainer::-webkit-scrollbar:vertical {
  width: 5px;
}

.modifierGroup-elementContainer::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.modifierGroup-elementContainer::-webkit-scrollbar:horizontal {
  height: 5px;
}

.modifierGroup-elementContainer::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: none;
}

.modifierGroup-elementContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

.modifierGroup-container {
  position: relative;
  padding-top: 66px !important;
  overflow: hidden;
}

.modifierGroup-elementContainer {
  height: 240px;
  overflow: hidden scroll;

}

.modifierGroup-title {
  border-bottom: 1px solid rgba(0,0,0,.05);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 1rem;
  text-align: left;
}