.modifierGroup-elementContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.modifierGroup-elementContainer::-webkit-scrollbar:vertical {
  width: 5px;
}

.modifierGroup-elementContainer::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.modifierGroup-elementContainer::-webkit-scrollbar:horizontal {
  height: 5px;
}

.modifierGroup-elementContainer::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: none;
}

.modifierGroup-elementContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

.modifierGroup-container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, .1);
  padding-top: 66px !important;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
}

.modifierGroup-elementContainer {
  height: 240px;
  overflow: hidden scroll;

}

.modifierGroup-title {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 1rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 1);
  color: white;
}